.div-visible {
  visibility: visible; }

.div-hidden {
  visibility: hidden;
  display: none; }

nav{
  background-color: hsl(190, 50%, 50%);

  border-radius: 1em;
}

  .grid-item { 
      width: 200px;
      border: 2px solid black;
  }


  .grid-item2 { 
      width: 200px;
      border: 2px solid black;
  }

  .grid-item--width2 { width: 400px; }

  