.div-visible {
  visibility: visible; }

.div-hidden {
  visibility: hidden;
  display: none; }

nav{
  background-color: hsl(190, 50%, 50%);

  border-radius: 1em;
}

.btn{
    background-color: hsl(190, 50%, 50%);    
}
.btn:hover{
    background-color: hsl(190, 55%, 55%);
}


/*/http://w3bits.com/css-masonry/*/
.wrapper {
    width: 95%;
    margin: 3em auto;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;


    width: 100%;
}

@media only screen and (min-width: 400px) {
    .masonry {
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .wrapper {
        width: 900px;
    }
    .masonry {
        column-count: 4;
    }
}

@media only screen and (min-width: 1440px) {
    .wrapper {
        width: 1440px;
    }
    .masonry {
        column-count: 5;
    }
}